.archive {
  background-color: rgb(250, 248, 248);

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
}
.button {
  font-weight: bold;
  border: solid 1px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  background-color: white;
  padding: 8px;
  cursor: pointer;

  /* flex-grow: 1; */
}
.button:hover {
  border: solid 1px rgba(30, 82, 223, 0.89);
}
.button:active {
  outline: solid 1px rgba(0, 81, 255, 0.281);
}
.visibilityButtonActive {
  background-color: rgba(227, 232, 243, 0.89);
}
